<launch>
	<arg name="lat" default="0.0" />
	<arg name="lon" default="0.0" />
	<node pkg="helper_nodes" type="odometry" name="odometry" output="screen">
		<param name="origin_latitude" value="$(arg lat)" />
		<param name="origin_longitude" value="$(arg lon)" />
		<param name="K_NS" value="111120.00" />
	</node>
</launch>
