<launch>
	<!-- GPS -->
	<remap from="pose" to="/ohm/raw_pose" />
	<remap from="velocities" to="/ohm/velocity" />
	<param name="device" value="/dev/ttyUSB0" />
	<node pkg="vn300" type="vn300_node" name="vn300_node" />

	<!-- Odometry -->
	<remap from="odom" to="/ohm/odom" />
	<param name="origin_latitude" value="42.3200317" />
	<param name="origin_longitude" value="-83.2312428" />
	<node pkg="helper_nodes" type="odometry" name="odometry" output="screen" />

	<!-- Heading Control -->
	<remap from="auto_control" to="/ohm/auto_control" />
	<!-- param name="kP" value="0.01" / -->
	<param name="kI" value="0.3" />
	<param name="enable_gps" value="false" />
	<param name="enable_lidar" value="false" />
	<param name="enable_camera" value="false" />
	<param name="enable_pid_debug" value="true" />
	<param name="max_linear" value="0.0" />
	<param name="max_angular" value="0.15" />
	<param name="base_frame" value="ohm_base_link" />
	<node pkg="heading_control" type="heading_control_node" name="heading_control" output="screen" />

	<!-- Static Transforms -->
	<node pkg="tf" type="static_transform_publisher" name="laser_link" args="0 0.3 0 0 0 0 ohm_base_link sick_laser_link 100" />

	<!-- Joystick and Manual Control-->
	<remap from="joy" to="/ohm/joy" />
	<param name="~dev" value="/dev/input/js1" />
	<node pkg="joy" type="joy_node" name="joy_node" />
	<remap from="joystick/xinput" to="/ohm/xinput" />
	<node pkg="isc_joy" type="joystick_xbox360" name="joystick_xbox360" />
	<remap from="/manual_control" to="/ohm/manual_control" />
	<param name="manual_control_speed_multiplier" value="0.3" />
	<param name="manual_control_turn_multiplier" value="0.2" />
	<node pkg="isc_joy" type="manual_control" name="manual_control" />

	<!-- Drive Mode Control -->
	<remap from="motors/wheel_speeds" to="/ohm/wheel_speeds" />
	<remap from="joystick/xbox360" to="/ohm/xinput" />	
	<param name="arduino_serial_port" value="/dev/ttyACM1" />
	<node pkg="drive_mode_control" type="drive_mode_control" name="ohm_drive_mode_control" />

	<!-- Motor Controller -->
	<param name="serial_port" value="/dev/ttyACM0" />
	<node pkg="isc_roboteq_mdc2460" type="roboteq_mdc2460" name="roboteq_mdc2460" />
</launch>
